<h1 style="text-align: center; margin-top: 45px">Você está vendo a Carona de <%= @carona.driver_name %></h1>

<div class="container mt-3" style="max-width: 720px;">
  <div class="row g-3">

    <div class="col-12">
      <div class="field">
        <label class="form-label"><strong>Nome do Motorista</strong></label>
        <p class="form-control-plaintext"><%= @carona.driver_name %></p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="field">
        <label class="form-label"><strong>Partida</strong></label>
        <p class="form-control-plaintext"><%= @carona.departure %></p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="field">
        <label class="form-label"><strong>Destino</strong></label>
        <p class="form-control-plaintext"><%= @carona.destination %></p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="field">
        <label class="form-label"><strong>Data e Hora</strong></label>
        <p class="form-control-plaintext"><%= br_date_time(@carona.date_time, 'full') %></p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="field">
        <label class="form-label"><strong>Número de Passageiros</strong></label>
        <p class="form-control-plaintext"><%= @carona.passengers_number %></p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="field">
        <label class="form-label"><strong>Custo</strong></label>
        <p class="form-control-plaintext"><%= @carona.cost %></p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="field">
        <label class="form-label"><strong>Observação</strong></label>
        <p class="form-control-plaintext"><%= @carona.obs %></p>
      </div>
    </div>

    <div id="carona_paradas">
      <% @carona.paradas.each do |parada| %>
        <div class="parada col-12">
          <label class="form-label"><strong>Parada</strong></label>
          <p class="form-control-plaintext"><%= parada.title %></p>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="d-flex justify-content-center">
  <span class="mt-5 mb-3">
    <%= link_to 'Voltar', caronas_path(page: params[:page]), class: "btn btn-info me-3", role: "button" %>
    <%= link_to 'Editar Carona', edit_carona_path(@carona, page: params[:page]), class: "btn btn-warning", role: "button" %>
  </span>
</div>